* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #34495e;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-text {
  color: #bdc3c7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text h1 {
  margin-bottom: 5px;
  text-shadow: 3px 3px 5px #000;
  font-size: 30px;
  color: #bdc3c7;
  letter-spacing: 1px;
}
.hero-text span {
  text-transform: uppercase;
  color: #2980b9;
}
.hero-text p {
  font-size: 16px;
}

.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

section {
  scroll-margin-top: 80px;
  color: white;
}

nav a {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #bdc3c7;
  transition: color 0.3s;
}
nav a:hover {
  color: #347dcc;
}

.nav {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.nav-items {
  display: none;
}
.nav-items--vertical {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-items--vertical a {
  margin-bottom: 5vh;
}

.nav-only {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #34495e;
  width: 100%;
  animation: show 0.3s ease-out;
  z-index: 1;
}

.burger-icon {
  display: block;
  margin-left: auto;
  padding: 0 30px;
  line-height: 60px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.burger-icon .fa-bars {
  color: #bdc3c7;
}
.burger-icon .fa-times {
  animation: rotate 0.5s ease-out;
  color: #bdc3c7;
}

@keyframes show {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  position: relative;
  background-image: url("../images/page-first/hero-minor.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

main {
  margin: 60px 0;
}

.about-me {
  color: #2980b9;
}

.about-me-info {
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 16px;
  color: #eee;
}
.about-me-info span {
  color: #2980b9;
}

.fotos {
  margin: 60px auto;
}

.foto {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.foto .hero-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

.foto h3 {
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
}

.foto:hover h3 {
  transform: scale(2.5);
}

.first-foto {
  background-image: url("../images/page-first/rodos-small.jpg");
}

.second-foto {
  background-image: url("../images/page-first/praga-small.jpg");
}

.third-foto {
  background-image: url("../images/page-first/hiszpania-small.jpg");
}

.fourth-foto {
  background-image: url("../images/page-first/kreta-small.jpg");
}

.five-foto {
  background-image: url("../images/page-first/miedzyzdroje-small.jpg");
}

.six-foto {
  background-image: url("../images/page-first/miedzywodzie-small.jpg");
}

.seven-foto {
  background-image: url("../images/page-first/karpacz-small.jpg");
}

.eight-foto {
  background-image: url("../images/page-first/szklarska.jpg");
}

@media (min-width: 768px) {
  .burger-icon {
    display: none;
  }

  .nav-items {
    display: block;
  }
  .nav-items a {
    padding: 0 30px;
    color: #333;
  }

  .header {
    height: 400px;
    background-image: url("../images/page-first/hero-major.jpg");
  }

  .hero-text h1 {
    font-size: 36px;
  }
  .hero-text p {
    font-size: 18px;
  }

  .foto h3 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .fotos-box {
    font-size: 0;
  }

  .foto {
    display: inline-block;
    width: 50%;
  }
  .foto:hover h3 {
    transform: scale(1.8);
  }

  .first-foto {
    background-image: url("../images/page-first/rodos.jpg");
  }

  .second-foto {
    background-image: url("../images/page-first/praga.jpg");
  }

  .third-foto {
    background-image: url("../images/page-first/hiszpania-big.jpg");
  }

  .fourth-foto {
    background-image: url("../images/page-first/kreta-big.jpg");
  }

  .five-foto {
    background-image: url("../images/page-first/miedzyzdroje-big.jpg");
  }

  .six-foto {
    background-image: url("../images/page-first/miedzywodzie-big.jpg");
  }

  .seven-foto {
    background-image: url("../images/page-first/karpacz-big.jpg");
  }

  .eight-foto {
    background-image: url("../images/page-first/szklarska-big.jpg");
  }
}
@media (min-width: 1200px) {
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
