* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #34495e;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-text {
  color: #bdc3c7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px #000;
    font-size: 30px;
    color: #bdc3c7;
    letter-spacing: 1px;
  }

  span {
    text-transform: uppercase;
    color: #2980b9;
  }

  p {
    font-size: 16px;
  }
}

.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

section {
  scroll-margin-top: 80px;
  color: white;
}

// *********** NAVIGATION *************
.nav__items {
  display: none;
}

.nav__show {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  background-color: #34495e;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #bdc3c7;
  }
}

.burger-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 10px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;

  .fa-bars {
    color: #bdc3c7;

  }

  .fa-times {
    color: #bdc3c7;
  }
}

// *********** Header **************

.header {
  position: relative;
  background-image: url("../images/page-first/hero-small.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

// ********* STYLE FOR MAIN *************

main {
  margin: 60px 0;
}

//  section about us

.about-me {
  color: #2980b9;
}

.section-title {
  font-size: 18px;
}

.about-me-info {
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 16px;
  color: #eee;

  span {
    color: #2980b9;
  }
}

// section fotos

.fotos {
  margin: 60px auto;
}

.foto {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: center;

  .hero-bg {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.foto h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: normal;
}

.first-foto {
  background-image: url("../images/page-first/rodos-small.jpg");
}

.second-foto {
  background-image: url("../images/page-first/praga-small.jpg");
}

.third-foto {
  background-image: url("../images/page-first/hiszpania-small.jpg");
}

.fourth-foto {
  background-image: url("../images/page-first/kreta-small.jpg");
}

.five-foto {
  background-image: url("../images/page-first/miedzyzdroje-small.jpg");
}

.six-foto {
  background-image: url("../images/page-first/miedzywodzie-small.jpg");
}

.seven-foto {
  background-image: url("../images/page-first/karpacz-small.jpg");
}

.eight-foto {
  background-image: url("../images/page-first/szklarska.jpg");
}

// *********** STYLES FOR MEDIA *****************

@media (min-width: 768px) {
  .nav {
    font-size: 20px;
    background-color: #34495e;
    padding: 20px 0;
  }

  .burger-icon {
    display: none;
  }

  .nav__show {
    height: 6vh;
    flex-direction: row;
  }

  .nav__items {
    display: flex;
    justify-content: space-evenly;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #bdc3c7;
    }
  }

  .header {
    height: 400px;
    background-image: url('../images/page-first/hero-big.jpg');
  }

  .hero-text {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
    }
  }

  .section-title {
    font-size: 20px;
  }

  .foto {
    h3 {
      font-size: 28px;
      letter-spacing: 1px;
    }
  }
}

@media (min-width: 992px) {
  .section-title {
    font-size: 24px;
  }

  .fotos-box {
    font-size: 0;
  }

  .foto {
    display: inline-block;
    width: 50%;

    h3 {
      font-size: 36px;
      letter-spacing: 2px;
    }
  }

  .first-foto {
    background-image: url("../images/page-first/rodos.jpg");
  }

  .second-foto {
    background-image: url("../images/page-first/praga.jpg");
  }

  .third-foto {
    background-image: url("../images/page-first/hiszpania-big.jpg");
  }

  .fourth-foto {
    background-image: url("../images/page-first/kreta-big.jpg");
  }

  .five-foto {
    background-image: url("../images/page-first/miedzyzdroje-big.jpg");
  }

  .six-foto {
    background-image: url("../images/page-first/miedzywodzie-big.jpg");
  }

  .seven-foto {
    background-image: url("../images/page-first/karpacz-big.jpg");
  }

  .eight-foto {
    background-image: url("../images/page-first/szklarska-big.jpg");
  }
}

@media (min-width: 1200px) {
  .hero-text {
    h1 {
      font-size: 42px;
    }

    p {
      font-size: 20px;
    }
  }
}

